/* Section font load*/

@font-face {
    font-family: 'BrandonText-Regular';
    src: url('https://static1.squarespace.com/static/5b13b31d506fbebc59fbe915/t/6208134fb5a0b11a2cfc13e9/1644696399972/brandon-text-regular.woff') format('woff');
}

@font-face {
    font-family: 'BrandonText-Bold';
    src: url('https://static1.squarespace.com/static/5b13b31d506fbebc59fbe915/t/620813783c6667428fdf4858/1644696440987/brandon-text-bold.woff') format('woff');
}

@font-face {
    font-family: 'BrandonText-Black';
    src: url('https://static1.squarespace.com/static/5b13b31d506fbebc59fbe915/t/62081373a7394424ce1bfcb4/1644696435654/brandon-text-black.woff') format('woff');
}

/*ection set fonts*/
* {
    font-family: 'BrandonText-Regular';
}

body {
    font-family: 'BrandonText-Regular' !important;
}

h1 {
    font-family: 'BrandonText-Black';
}

h2 {
    font-family: 'BrandonText-Black';
}

h3 {
    font-family: 'BrandonText-Bold';
}

h4 {
    font-family: 'BrandonText-Bold';
}

.sqsrte-large {
    font-family: 'BrandonText-Bold';
}

p {
    font-family: 'BrandonText-Regular';
}

.sqsrte-small {
    font-family: 'BrandonText-Regular';
}

.sqs-block {
    font-family: 'BrandonText-Regular';
}


/* Site Title */

.header-title-text a {
    font-family: 'BrandonText-Regular' !important;
}


/* Site Navigation */

.header-nav-item a {
    font-family: 'BrandonText-Regular' !important;
}


/* Button */

.header-actions-action .btn {
    font-family: 'BrandonText-Regular' !important;
}


/* Announcement Bar */

.sqs-announcement-bar-url a {
    font-family: 'BrandonText-Regular' !important;
}


/* Small Button */

.sqs-block-button-element--small {
    font-family: 'BrandonText-Regular' !important;
}


/* Medium Button */

.sqs-block-button-element--medium {
    font-family: 'BrandonText-Regular' !important;
}


/* Large Button */

.sqs-block-button-element--large {
    font-family: 'BrandonText-Black' !important;
}


/* Image Block Button */

.image-button a {
    font-family: 'BrandonText-Bold' !important;
}


/* Newsletter Form Title */

.newsletter-form-header-title {
    font-family: 'BrandonText-Regular' !important;
}


/* Newsletter Form Description */

.newsletter-form-header-description p {
    font-family: 'BrandonText-Regular' !important;
}


/* Newsletter Form Fields */

.newsletter-form-field-element {
    font-family: 'BrandonText-Regular' !important;
}


/* Newsletter Form Button */

.newsletter-form-button {
    font-family: 'BrandonText-Regular' !important;
}


/* Newsletter Form Footnote */

.newsletter-form-footnote {
    font-family: 'BrandonText-Regular' !important;
}


/* Blog Page Post Title */

.blog-title {
    font-family: 'BrandonText-Bold' !important;
}


/* Blog Page Post Descriptions */

.blog-excerpt p {
    font-family: 'BrandonText-Regular' !important;
}


/* Blog Page Read More Link */

.blog-more-link {
    font-family: 'BrandonText-Regular' !important;
}


/* Blog Post Entry Titles */

.blog-item-title h1.entry-title {
    font-family: 'BrandonText-Bold' !important;
}


/* Quote Text */

.sqs-block-quote blockquote {
    font-family: 'BrandonText-Regular' !important;
}


/* Quote Source */

.sqs-block-quote .source {
    font-family: 'BrandonText-Regular' !important;
}

.product-title {
    font-family: 'BrandonText-Bold';
}

.ProductList h1.ProductList-title {
    font-family: 'BrandonText-Bold' !important;
}

.ProductList-meta * {
    font-family: 'BrandonText-Regular' !important;
}

.ProductItem-details {
    font-family: 'BrandonText-Regular' !important;
}

.ProductItem-details h1.ProductItem-details-title {
    font-family: 'BrandonText-Bold' !important;

}

html {
    scroll-behavior: smooth !important;
}
#block-yui_3_17_2_1_1644763206684_79157 {
    z-index: 10;
}

@media only screen {

    #block-yui_3_17_2_1_1644763206684_79157 {
        position: -webkit-sticky;
        position: sticky !important;
        top: 10px;
        margin-top: 5px;
    }
    #block-yui_3_17_2_1_1644769074129_154960 {
        z-index: -10;
    }
}

/*Section Google Maps Cloud*/
#map-container {
    width: 100%;
    height: 60vh;
    position: relative;
    box-sizing: border-box;
}

#map-container button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    font-size: inherit;
    cursor: pointer;
}

#map {
    position: absolute;
    left: 22em;
    top: 0;
    right: 0;
    bottom: 0;
}

#locations-panel {
    position: absolute;
    left: 0;
    width: 22em;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background: white;
    padding: 0.5em;
    box-sizing: border-box;
}

@media only screen and (max-width: 876px) {
    #map {
        left: 0;
        bottom: 50%;
    }

    #locations-panel {
        top: 50%;
        right: 0;
        width: unset;
    }
}

#locations-panel-list > header {
    padding: 1.4em 1.4em 0 1.4em;
}

#locations-panel-list h1.search-title {
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

#locations-panel-list h1.search-title > img {
    vertical-align: bottom;
    margin-top: -1em;
}

#locations-panel-list .search-input {
    width: 100%;
    margin-top: 0.8em;
    position: relative;
}

#locations-panel-list .search-input input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3em;
    height: 2.2em;
    box-sizing: border-box;
    padding: 0 2.5em 0 1em;
    font-size: 1em;
}

#locations-panel-list .search-input-overlay {
    position: absolute;
}

#locations-panel-list .search-input-overlay.search {
    right: 2px;
    top: 2px;
    bottom: 2px;
    width: 2.4em;
}

#locations-panel-list .search-input-overlay.search button {
    width: 100%;
    height: 100%;
    border-radius: 0.2em;
    color: black;
    background: transparent;
}

#locations-panel-list .search-input-overlay.search .icon {
    margin-top: 0.05em;
    vertical-align: top;
}

#locations-panel-list .section-name {
    font-weight: 500;
    font-size: 0.9em;
    margin: 1.8em 0 1em 1.5em;
}

#locations-panel-list .location-result {
    position: relative;
    padding: 0.8em 3.5em 0.8em 1.4em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

#locations-panel-list .location-result:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

#locations-panel-list .location-result:last-of-type {
    border-bottom: none;
}

#locations-panel-list .location-result.selected {
    outline: 2px solid #4285f4;
}

#locations-panel-list button.select-location {
    margin-bottom: 0.6em;
    text-align: left;
}

#locations-panel-list .location-result h2.name {
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

#locations-panel-list .location-result .address {
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

#locations-panel-list .location-result .distance {
    position: absolute;
    top: 0.9em;
    right: 0;
    text-align: center;
    font-size: 0.9em;
    width: 5em;
}

#location-results-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.spotfinder-iw-attr-container img {
    max-height: 30px;
    float: left;

}
.spotfinder-iw-attr-container {
    height: 38px;
}

.spotfinder-iw-attr-container {
    min-width: 100%;
}
